<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
    <div th:fragment="footer" class="text-white p-4">
        <div class="container mx-auto">
            <p class="text-center">&copy; 2024 Hotel Management</p>
            {<!--
            TODO:
            <ul class="flex justify-center space-x-4 mt-2">
                <li><a href="/about" class="text-gray-300 hover:text-white">Acerca de</a></li>
                <li><a href="/contact" class="text-gray-300 hover:text-white">Contacto</a></li>
                <li><a href="/privacy" class="text-gray-300 hover:text-white">Política de Privacidad</a></li>
            </ul>-->}
        </div>
    </div>
</body>
</html>