<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}">Room List</title>
    <th:block th:replace="layouts/layout :: head"></th:block>
</head>
<body>
    <th:block th:replace="layouts/layout :: content">
        <h1 class="text-3xl font-bold text-gray-800 m-4">Room List</h1>
        <a th:href="@{/rooms/new}" class="inline-block px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700">Add new room</a>
        <table>
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Capacity</th>
                    <th>Price Per Night</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {<!-- Get room list -->}
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.roomNumber}"></td>
                    <td th:text="${room.capacity}"></td>
                    <td th:text="${room.pricePerNight}"></td>
                    <td>
                        <a th:href="@{/rooms/{id}(id=${room.id})}">View Details</a>
                        <a th:href="@{/rooms/edit/{id}(id=${room.id})}">Edit</a>
                        <a th:href="@{/rooms/delete/{id}(id=${room.id})}"
                           onclick="return confirm('Are you sure you want to delete this room?');">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</body>
</html>